[workspace]
resolver = "2"
members = [
  "plugins/autocmds",
  "libs/nvim-oxi-utils",
  "plugins/project_root",
  "plugins/readline",
  "plugins/snacks_preview",
  "libs/support",
  "plugins/text",
  "plugins/plugin_util",
  "libs/nvim-utils",
]

[patch.crates-io]
nvim-oxi = { git = "https://github.com/noib3/nvim-oxi", rev = "fef0f72702f6928815eeec358d7aa834b7290ded" }

[workspace.dependencies]
derive_more = { version = "2.1.1", features = ["display"] }
nonempty = "0.12.0"

[workspace.lints.rust]
unsafe_code = "forbid"
warnings = "deny"

[workspace.lints.clippy]
all = { level = "warn", priority = -1 }
pedantic = { level = "warn", priority = -1 }
nursery = { level = "warn", priority = -1 }
module_name_repetitions = "allow"
must_use_candidate = "allow"
missing_errors_doc = "allow"
missing_panics_doc = "allow"
doc_markdown = "allow"
too_many_lines = "allow"
unwrap_used = "deny"
expect_used = "deny"
panic = "deny"
todo = "deny"
unimplemented = "deny"
dbg_macro = "deny"
